.post-type-wa_contact {
	#post-body-content,
	.term-parent-wrap,
	#newwa_contact_list_parent,
	#minor-publishing-actions,
	#misc-publishing-actions {
		display: none;
	}
}

.contact-import-options {
	background: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	margin-top: 10px;

	h3 {
		margin-top: 0;
	}

	label {
		margin-right: 20px;
	}

	.users-import-table {
		width: 100%;
		margin-bottom: 10px;

		td input {
			width: 100%;
			max-width: 400px;
		}

		td:first-child {
			width: 30%;
		}
	}
}
