.onboarding {
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 8px 8px 0 rgb(85 93 102 / 10%);

	.onboarding-head {
		padding: 20px;
		border-bottom: 1px solid #eee;

		h1,
		h2,
		h3 {
			margin-top: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	.onboarding-body {
		.onboarding-disclaimer {
			padding: 10px 20px;
		}

		.step {
			border-bottom: 1px solid #eee;

			.step-head {
				border-bottom: 1px solid #eee;
				display: flex;
				justify-content: space-between;

				.step-title {
					padding: 15px 20px;
				}

				.est-time {
					display: flex;
					align-items: center;
					align-content: center;
					margin-top: -10px;
					justify-content: center;
					padding: 0 20px;
				}

				.toggle-step {
					position: relative;
					padding: 0 20px;
					border: 0;
					background: transparent;
					cursor: pointer;
				}

				.toggle-step::after {
					content: "";
					display: block;
					width: 8px;
					height: 8px;
					border: 0;
					background: transparent;
					border-left: 2px solid #999;
					border-bottom: 2px solid #999;
					transform: rotate(-45deg);
					margin-top: -6px;
				}
			}

			&.active {
				.step-head .toggle-step::after {
					transform: rotate(135deg);
					margin-top: 0;
				}
			}

			.step-body {
				padding: 15px 20px;
				display: none;
				transition: height 0.5s ease-in-out;

				p:first-child,
				ol:first-child {
					margin-top: 0;
				}
			}

			&.active .step-body {
				display: block;
				transition: height 0.5s ease-in-out;
			}
		}
	}

	.onboarding-footer {
		padding: 20px;
		border-top: 1px solid #eee;
	}
}

.dashboard-boxes {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	.col {
		padding: 0 10px;
		margin-bottom: 20px;
	}

	& > .col:not(.w-100) {
		@include media-down(tablet) {
			flex: 0 0 50% !important;
		}
		@include media-down(mobile) {
			flex: 0 0 100% !important;
		}
	}

	.dashboard-box {
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;

		&.dashboard-box-top {
			height: auto;

			.w-25 {
				@include media-down (mobile) {
					flex: 0 0 100%;
				}
			}
		}

		.dashboard-box-head {
			padding: 15px 20px;
			border-bottom: 1px solid #eee;

			@include media-down (mobile) {
				padding: 12px;
			}

			h2,
			h3 {
				margin: 0;

				@include media-down (mobile) {
					font-size: 16px;
				}
			}
		}

		.dashboard-box-body {
			padding: 15px 20px;

			@include media-down (mobile) {
				padding: 12px;
			}

			p:first-child {
				margin-top: 0;
			}

			table {
				width: 100%;

				th {
					padding-bottom: 10px;
					text-align: left;

					&:last-child {
						text-align: right;
					}
				}

				td {
					&:last-child {
						text-align: right;
					}
				}
			}

			.dashicons-marker {
				color: #ccc;
			}

			.dashicons-yes-alt {
				color: #01a401;
			}
		}

		.dashboard-box-footer {
			margin-top: auto;
			padding: 15px 20px;
			border-top: 1px solid #eee;

			.dashboard-box-buttons-wrap {
				text-align: right;

				.button {
					margin-left: 10px;
				}
			}
		}
	}
}

.quantity-rating {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 10px;
	background: #cacaca;

	&.quantity-rating-red {
		background: red;
	}

	&.quantity-rating-green {
		background: green;
	}

	&.quantity-rating-yellow {
		background: #f8f13a;
	}
}
