.onboarding {
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 8px 8px 0 rgb(85 93 102 / 10%);

	.onboarding-head {
		padding: 20px;
		border-bottom: 1px solid #eee;

		h1,
		h2,
		h3 {
			margin: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	.onboarding-body {
		padding: 20px;

		h1,
		h2,
		h3,
		p:first-child {
			margin-top: 0;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.onboarding-footer {
		padding: 20px;
		border-top: 1px solid #eee;
	}
}

.dashboard-boxes {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	.col {
		padding: 0 10px;
	}

	& > .col:not(.w-100) {
		@include media-down(tablet) {
			flex: 0 0 50% !important;
		}
		@include media-down(mobile) {
			flex: 0 0 100% !important;
		}
	}

	.dashboard-box {
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		&.dashboard-box-top {
			height: auto;

			.w-25 {
				@include media-down (mobile) {
					flex: 0 0 100%;
				}
			}
		}

		.dashboard-box-head {
			padding: 15px 20px;
			border-bottom: 1px solid #eee;

			@include media-down (mobile) {
				padding: 12px;
			}

			h2,
			h3 {
				margin: 0;

				@include media-down (mobile) {
					font-size: 16px;
				}
			}
		}

		.dashboard-box-body {
			padding: 15px 20px;

			@include media-down (mobile) {
				padding: 12px;
			}

			& *:first-child {
				margin-top: 0;
			}

			h3 {
				font-size: 1.2em;
			}

			table {
				width: 100%;

				th,
				td {
					text-align: left;
					vertical-align: top;
				}

				th:first-child,
				td:first-child {
					width: 20%;
				}
			}

			&.how-to{
				ul{
				    list-style: inherit;
	    			padding-left: 20px;
	    			margin-bottom: 10px;
	    		}
			}

			.dashicons-marker {
				color: #ccc;
			}

			.dashicons-yes-alt {
				color: #01a401;
			}
		}

		.dashboard-box-footer {
			margin-top: auto;
			padding: 15px 20px;

			.dashboard-box-buttons-wrap {
				text-align: right;

				.button {
					margin-left: 10px;
				}
			}
		}
	}
}

#wa-notifier-api-key {
	width: 100%;
	margin-bottom: 10px;
}

.notifier-triggers-group-wrap {
	margin-bottom: 30px;

	.notifier-trigger-wrap {
		margin-bottom: 20px;

		.notifier-trigger-label {
			font-size: 16px;

			input[type="checkbox"] {
				-webkit-appearance: none;
				appearance: none;
				margin: 0;
				font: inherit;
				color: #697a8d;
				width: 20px;
				height: 20px;
				border: 2px solid #697a8d;
				border-radius: 3px;
				background-color: transparent;
				outline: none !important;
				margin-right: 10px;
			}

			input[type="checkbox"]::before {
				content: "";
			}

			input[type="checkbox"]:checked {
				color: white;
				background: $primary;
				border-color: $primary;
				box-shadow: none;
			}

			input[type="checkbox"]:checked::before {
				content: "\f147";
				font-family: "dashicons";
				font-size: 20px;
				display: block;
				position: absolute;
				height: 18px;
				width: 18px;
				margin-top: -1px;
				margin-left: -3px;
			}

			.notifier-show-trigger-info {
				border: 0;
				background: none;
				padding: 0;
				cursor: pointer;
				color: #aaa;
			}
		}

		.notifier-trigger-info {
			background: #f7f7f7;
			padding: 10px;
			margin-top: 10px;
			border: 1px solid #eee;
			border-radius: 10px;
		}
	}
}

.notifier-overview-image {
	float: right;
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: 250px;
	margin-left: 30px;

	@include media-down (mobile) {
		float: none;

		img {
			max-width: none;
		}
	}
}
