#wa-notifier-admin-header {
	background: #fff;
	box-sizing: border-box;
	position: fixed;
	width: calc(100% - 160px);
	top: 32px;
	z-index: 1001;
	padding: 0 20px;
	height: 70px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;

	&.sticky {
		box-shadow: 0 8px 8px 0 rgb(85 93 102 / 30%);
	}

	 .header-menu-items ul {
	 	margin: 0;

	 	 li {
		 	display: inline-block;
		 	margin-bottom: 0;

		 	&:last-child {
		 		border-right: 0;
		 	}

		 	a {
		 		text-decoration: none;
				padding: 0 20px;
				line-height: 70px;
		 		display: block;

				&.active {
					color: #555;
				}
		 	}
		 }
	 }

	.header-action-links > * {
		text-decoration: none;
		padding: 0 10px;
		display: inline-block;

		&.header-version {
			color: #777;
		}
	}
}
