#notifier-admin-header {
	@include media-down(mobile) {
		padding-top: 46px;
	}

	.notifier-admin-header-content {
		background: #fff;
		box-sizing: border-box;
		width: 100%;
		top: 32px;
		z-index: 1001;
		padding: 0 20px;
		height: 70px;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #eee;

		@include media-down(mobile) {
			padding: 0 12px;
		}

		&.sticky {
			box-shadow: 0 8px 8px 0 rgb(85 93 102 / 30%);
		}

		.header-page-title {
			@include media-down(mobile) {
				flex: 1;
			}
		}

		.header-menu-items {
			@include media-down(mobile) {
				flex: 1;
				justify-content: flex-end;
			}

			ul {
				margin: 0;

				li {
					display: inline-block;
					margin-bottom: 0;

					&:last-child {
						border-right: 0;
					}

					a {
						text-decoration: none;
						padding: 0 20px;
						display: block;

						@include media-down(mobile) {
							padding: 0 10px;
						}

						&.active {
							color: #555;
						}
					}
				}
			}
		}

		.header-action-links {
			@include media-down(mobile) {
				display: none !important;
			}

			& > * {
				text-decoration: none;
				padding: 0 10px;
				display: inline-block;

				&.header-version {
					color: #777;
				}
			}
		}
	}
}
