.post-type-wa_notification {
	#minor-publishing-actions,
	#misc-publishing-actions {
		display: none;
	}

	&.disable-publishing #publishing-action {
		display: none;
	}

	.send-to-fields,
	.variables-mapping-fields {
		width: calc(100% - 20px);

		@include media-down(mobile) {
			width: 100%;
		}

		.form-field {
			max-width: 100%;
			margin: 0px;
		}
	}

	.variables-mapping-fields table td:first-child {
		width: 10%;
	}
}

.ui-datepicker-current {
	display: none;
}

.add-recipient {
	margin-left: auto !important;
	margin-top: 5px !important;
}
