.post-type-wa_notification {
	#minor-publishing-actions,
	#misc-publishing-actions {
		display: none;
	}

	&.disable-publishing #publishing-action {
		display: none;
	}
}

.ui-datepicker-current {
	display: none;
}
