.post-type-wa_notifier_trigger {
	#minor-publishing-actions #save-action,
	#misc-publishing-actions {
		display: none;
	}

	#minor-publishing-actions {
		padding: 15px 10px;
		text-align: left;
	}

	.trigger-fields-wrap {
		margin: 1em 0;
	}

	.notifier-trigger-merge-tags {
		margin-bottom: 5px;

		.notifier-merge-tags-wrap {
			padding: 10px 10px 5px 10px;
			border: 1px solid #8c8f94;
			border-radius: 3px;

			.notifier-merge-tags {
				flex-wrap: nowrap;
				margin-bottom: 15px;
				padding-bottom: 10px;
				border-bottom: 1px solid #ddd;

				&:last-child {
					margin-bottom: 0;
					border-bottom: 0;
				}

				@include media-down(mobile) {
					flex-wrap: wrap;
				}

				legend.form-label {
					font-size: 13px;
					min-width: 120px;
					max-width: 120px;
					font-weight: 500;
					margin-bottom: 5px;
					margin-top: 1px;
				}

				.multi-checkbox-wrapper {
					flex-grow: 1;
					max-height: 105px;
					overflow: auto;

					@include media-down(mobile) {
						max-height: 150px;
					}

					.form-check {
						display: inline-block;
						margin-bottom: 5px;
						width: 25%;

						.form-check-label {
							width: auto;
							display: block;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						@include media-down(desktop-lg) {
							width: 33.33%;
						}

						@include media-down(tablet-lg) {
							width: 50%;
						}

						@include media-down(mobile) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
