/*************
 * Global
 *************/

/*#wpcontent {
	padding-left: 0;
}*/

/*#wa-notifier-admin-header {
    background: #fff;
    box-sizing: border-box;
    padding: 0;
    position: fixed;
    width: calc(100% - 160px);
    top: 32px;
    z-index: 1001;
    padding: 0px 20px;
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#wa-notifier-admin-header.sticky {
	box-shadow: 0 8px 8px 0 rgb(85 93 102 / 30%);
}

#wa-notifier-admin-header .header-action-links > *{
    text-decoration: none;
    padding: 0px 10px;
    display: inline-block;
}

#wa-notifier-admin-header .header-action-links .header-version {
    color: #777;
}*/

/*#screen-meta {
    margin: 0 -20px;
}

#wpbody {
    padding: 70px 20px 0px 20px;
}*/

/*.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}

.w-25 {
    flex: 0 0 25%;
}

.w-30 {
    flex: 0 0 30%;
}

.w-40 {
    flex: 0 0 40%;
}

.w-50 {
    flex: 0 0 50%;
}

.w-60 {
    flex: 0 0 60%;
}

.w-70 {
    flex: 0 0 70%;
}

.w-75 {
    flex: 0 0 75%;
}

.w-80 {
    flex: 0 0 80%;
}

.w-100 {
    flex: 0 0 100%;
}

.rounded {
    border-radius: 8px;
}

.bg-white {
    background-color: #fff;
}

.p-20 {
    padding: 20px;
}*/

/*************
 * Dashboard
 *************/

/*.onboarding {
    max-width: 600px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0 8px 8px 0 rgb(85 93 102 / 10%);
}

.onboarding-head {
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

.onboarding-head h1,
.onboarding-head h2,
.onboarding-head h3 {
    margin-top: 0px;
}
.onboarding-head p {
    margin-bottom: 0px;
}

.onboarding-disclaimer {
    padding: 10px 20px;
}

.dashboard-ready {
    max-width: 300px;
    margin: 0 auto;
    font-size: 16px;
}

.dashboard-ready p {

}

.onboarding-body .step{
    border-bottom: 1px solid #eeeeee;
}

.onboarding-body .step .step-head {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
}

.onboarding-body .step .step-head .step-title {
    padding: 15px 20px;
}

.onboarding-body .step .step-head .est-time {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: -10px;
    justify-content: center;
    padding: 0px 20px;
}

.onboarding-body .step .step-head .toggle-step {
    position: relative;
    padding: 0px 20px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}

.onboarding-body .step .step-head .toggle-step:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 0px;
    background: transparent;
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    transform: rotate(-45deg);
    margin-top: -6px;
}

.onboarding-body .step.active .step-head .toggle-step:after {
    transform: rotate(135deg);
    margin-top: 0px;
}

.onboarding-body .step .step-body {
    padding: 15px 20px;
    display: none;
    transition: height .5s ease-in-out;
}

.onboarding-body .step.active .step-body {
    display: block;
    transition: height .5s ease-in-out;
}

.onboarding-footer {
    padding: 20px;
    border-top: 1px solid #eeeeee;
}

.dashboard-boxes {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-box {
    border-radius: 8px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashboard-box-head {
    padding: 15px 20px;
    border-bottom: 1px solid #eeeeee;
}

.dashboard-box-head h2 ,
.dashboard-box-head h3 {
    margin: 0px;
}

.dashboard-box-body {
    padding: 20px;
}

.dashboard-box-body p:first-child {
    margin-top: 0px;
}

.quantity-rating {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
}

.quantity-rating-red {
    background: red;
}

.quantity-rating-green {
    background: green;
}

.quantity-rating-yellow {
    background: #f8f13a;
}*/

/*****************
 * Message Templates
 * Page
 *****************/



/**************
 * Contacts
 **************/

