/**
 * Breakpoints
 */
/**
 * Colours
 */
/* Global */
#wpcontent {
  padding-left: 0 !important;
}

#screen-meta {
  margin: 0 -20px;
}
@media screen and (max-width: 767px) {
  #screen-meta {
    margin: 0 0 0 -12px;
    border-left: 0;
    border-right: 0;
  }
}

#wpbody {
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  #wpbody {
    padding-top: 0px;
    padding-left: 12px;
  }
}

/* Meta Fields */
.wa-notifier-fields-table th {
  vertical-align: top;
  text-align: left;
  padding: 20px 10px 20px 0;
  width: 200px;
  line-height: 1.3;
  font-weight: 600;
}
.wa-notifier-fields-table th.section-title {
  padding: 0;
}
.wa-notifier-fields-table th td {
  margin-bottom: 9px;
  padding: 15px 10px;
  line-height: 1.3;
  vertical-align: middle;
}

.meta-fields .form-field label,
.meta-fields .form-field legend {
  display: block;
  margin-bottom: 5px;
  width: calc(100% - 20px);
}
.meta-fields .form-field label .limit-text {
  float: right;
  color: #999;
}
.meta-fields .form-field input[type=text],
.meta-fields .form-field input[type=password],
.meta-fields .form-field textarea,
.meta-fields .form-field select {
  width: calc(100% - 20px);
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .meta-fields .form-field input[type=text],
.meta-fields .form-field input[type=password],
.meta-fields .form-field textarea,
.meta-fields .form-field select {
    width: 100%;
  }
}
.meta-fields .form-field input[disabled=disabled],
.meta-fields .form-field textarea[disabled=disabled],
.meta-fields .form-field select[disabled=disabled] {
  background-color: #f6f7f7;
  cursor: not-allowed;
}
.meta-fields .form-field .radio-buttons {
  margin: 0;
}
.meta-fields .form-field .radio-buttons li {
  display: inline-block;
  margin-right: 20px;
}
.meta-fields .form-field .radio-buttons li label {
  display: inline-block;
  width: auto;
}
.meta-fields fieldset.form-field {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
.meta-fields h3 {
  margin-bottom: 5px;
  font-size: 14px;
}
.meta-fields h4 {
  margin-bottom: 0;
}
.meta-fields hr {
  margin: 20px auto;
}
.meta-fields .optional-text {
  color: #999;
  font-weight: normal;
}
.meta-fields .description {
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
  color: #555;
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .meta-fields .col {
    flex: 0 0 100%;
  }
}

.hide {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.col {
  flex: 1 0 0%;
}

.w-25 {
  flex: 0 0 25%;
}

.w-30 {
  flex: 0 0 30%;
}

.w-40 {
  flex: 0 0 40%;
}

.w-50 {
  flex: 0 0 50%;
}

.w-60 {
  flex: 0 0 60%;
}

.w-70 {
  flex: 0 0 70%;
}

.w-75 {
  flex: 0 0 75%;
}

.w-80 {
  flex: 0 0 80%;
}

.w-100 {
  flex: 0 0 100%;
}

.rounded {
  border-radius: 8px;
}

.bg-white {
  background-color: #fff;
}

.p-20 {
  padding: 20px;
}

.truncate-string {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  #wa-notifier-admin-header {
    padding-top: 46px;
  }
}
#wa-notifier-admin-header .wa-notifier-admin-header-content {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  top: 32px;
  z-index: 1001;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #wa-notifier-admin-header .wa-notifier-admin-header-content {
    padding: 0 12px;
  }
}
#wa-notifier-admin-header .wa-notifier-admin-header-content.sticky {
  box-shadow: 0 8px 8px 0 rgba(85, 93, 102, 0.3);
}
@media screen and (max-width: 767px) {
  #wa-notifier-admin-header .wa-notifier-admin-header-content .header-page-title {
    flex: 1;
  }
}
@media screen and (max-width: 767px) {
  #wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items {
    flex: 1;
    justify-content: flex-end;
  }
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items ul {
  margin: 0;
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items ul li {
  display: inline-block;
  margin-bottom: 0;
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items ul li:last-child {
  border-right: 0;
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items ul li a {
  text-decoration: none;
  padding: 0 20px;
  display: block;
}
@media screen and (max-width: 767px) {
  #wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items ul li a {
    padding: 0 10px;
  }
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-menu-items ul li a.active {
  color: #555;
}
@media screen and (max-width: 767px) {
  #wa-notifier-admin-header .wa-notifier-admin-header-content .header-action-links {
    display: none !important;
  }
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-action-links > * {
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
}
#wa-notifier-admin-header .wa-notifier-admin-header-content .header-action-links > *.header-version {
  color: #777;
}

.onboarding {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 8px 8px 0 rgba(85, 93, 102, 0.1);
}
.onboarding .onboarding-head {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.onboarding .onboarding-head h1,
.onboarding .onboarding-head h2,
.onboarding .onboarding-head h3 {
  margin-top: 0;
}
.onboarding .onboarding-head p {
  margin-bottom: 0;
}
.onboarding .onboarding-body .onboarding-disclaimer {
  padding: 10px 20px;
}
.onboarding .onboarding-body .step {
  border-bottom: 1px solid #eee;
}
.onboarding .onboarding-body .step .step-head {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
.onboarding .onboarding-body .step .step-head .step-title {
  padding: 15px 20px;
}
.onboarding .onboarding-body .step .step-head .est-time {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: -10px;
  justify-content: center;
  padding: 0 20px;
}
.onboarding .onboarding-body .step .step-head .toggle-step {
  position: relative;
  padding: 0 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.onboarding .onboarding-body .step .step-head .toggle-step::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 0;
  background: transparent;
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
  transform: rotate(-45deg);
  margin-top: -6px;
}
.onboarding .onboarding-body .step.active .step-head .toggle-step::after {
  transform: rotate(135deg);
  margin-top: 0;
}
.onboarding .onboarding-body .step .step-body {
  padding: 15px 20px;
  display: none;
  transition: height 0.5s ease-in-out;
}
.onboarding .onboarding-body .step.active .step-body {
  display: block;
  transition: height 0.5s ease-in-out;
}
.onboarding .onboarding-footer {
  padding: 20px;
  border-top: 1px solid #eee;
}

.dashboard-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 992px) {
  .dashboard-boxes > .col:not(.w-100) {
    flex: 0 0 50% !important;
  }
}
@media screen and (max-width: 767px) {
  .dashboard-boxes > .col:not(.w-100) {
    flex: 0 0 100% !important;
  }
}
.dashboard-boxes .dashboard-box {
  border-radius: 8px;
  background-color: #fff;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .dashboard-boxes .dashboard-box.dashboard-box-top .w-25 {
    flex: 0 0 100%;
  }
}
.dashboard-boxes .dashboard-box .dashboard-box-head {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 767px) {
  .dashboard-boxes .dashboard-box .dashboard-box-head {
    padding: 12px;
  }
}
.dashboard-boxes .dashboard-box .dashboard-box-head h2,
.dashboard-boxes .dashboard-box .dashboard-box-head h3 {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .dashboard-boxes .dashboard-box .dashboard-box-head h2,
.dashboard-boxes .dashboard-box .dashboard-box-head h3 {
    font-size: 16px;
  }
}
.dashboard-boxes .dashboard-box .dashboard-box-body {
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .dashboard-boxes .dashboard-box .dashboard-box-body {
    padding: 12px;
  }
}
.dashboard-boxes .dashboard-box .dashboard-box-body p:first-child {
  margin-top: 0;
}

.quantity-rating {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
}
.quantity-rating.quantity-rating-red {
  background: red;
}
.quantity-rating.quantity-rating-green {
  background: green;
}
.quantity-rating.quantity-rating-yellow {
  background: #f8f13a;
}

.post-type-wa_message_template #minor-publishing-actions #save-action,
.post-type-wa_message_template #misc-publishing-actions {
  display: none;
}
.post-type-wa_message_template #minor-publishing-actions {
  padding: 15px 10px;
  text-align: left;
}
.post-type-wa_message_template.mt-status-approved #publishing-action, .post-type-wa_message_template.mt-status-pending #publishing-action {
  display: none;
}
.post-type-wa_message_template #minor-publishing .refresh-status {
  background: 0;
  outline: none;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}
.post-type-wa_message_template #minor-publishing .refresh-status img {
  width: 16px;
  margin-top: 2px;
}

a.refresh-status.page-title-action::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 13px;
  background-image: url(../images/refresh.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.status {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid;
  line-height: normal;
  font-size: 10px;
  color: #bec3c9;
}
.status.status-approved {
  color: #01a401;
}
.status.status-pending {
  color: #ffba00;
}
.status.status-rejected {
  color: #fa383e;
}

#wa-notifier-message-template-preview .inside {
  margin-top: 0;
  padding: 0;
}
#wa-notifier-message-template-preview .inside .wa-template-preview {
  padding: 20px;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  background-color: #e5ddd5;
  position: relative;
}
#wa-notifier-message-template-preview .inside .wa-template-preview::before {
  background: url("../images/whatsapp-bg.png");
  background-size: 366.5px 666px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.06;
  position: absolute;
  top: 0;
  width: 100%;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container {
  background-color: #fff;
  border-radius: 7.5px;
  border-top-left-radius: 0;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.15);
  min-height: 20px;
  word-wrap: break-word;
  position: relative;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container::before {
  content: "";
  display: block;
  left: -16px;
  top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid white;
  border-bottom: 8px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-content {
  position: relative;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-content .message-head {
  color: rgba(0, 0, 0, 0.76);
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
  padding: 6px 7px 0 9px;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-content .message-body {
  color: #262626;
  font-size: 13.6px;
  line-height: 19px;
  padding: 7px 7px 6px 9px;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-content .message-footer {
  color: rgba(0, 0, 0, 0.45);
  font-size: 13px;
  line-height: 17px;
  padding: 0 7px 8px 9px;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-content .message-date {
  bottom: 3px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  position: absolute;
  right: 7px;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons {
  border-top: 1px solid #dadde1;
  margin: 0 7px 0 9px;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-1,
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-1 .message-button-text,
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-2 .message-button-text {
  color: #00a5f4;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-1 .message-button-img,
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-2 .message-button-img {
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  height: 16px;
  opacity: 0.8;
  width: 16px;
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-1 .message-button-img.call,
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-2 .message-button-img.call {
  background-image: url(../images/call.png);
}
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-1 .message-button-img.visit,
#wa-notifier-message-template-preview .inside .wa-template-preview .message-container .message-buttons .message-button-2 .message-button-img.visit {
  background-image: url(../images/external-link.png);
}
#wa-notifier-message-template-preview.sticky {
  position: fixed;
  top: 120px;
  width: 100%;
}

.post-type-wa_contact #post-body-content,
.post-type-wa_contact .term-parent-wrap,
.post-type-wa_contact #newwa_contact_list_parent,
.post-type-wa_contact #minor-publishing-actions,
.post-type-wa_contact #misc-publishing-actions {
  display: none;
}

.contact-import-options {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.contact-import-options h3 {
  margin-top: 0;
}
.contact-import-options label {
  margin-right: 20px;
}
.contact-import-options .users-import-table {
  width: 100%;
  margin-bottom: 10px;
}
.contact-import-options .users-import-table td input {
  width: 100%;
  max-width: 400px;
}
.contact-import-options .users-import-table td:first-child {
  width: 30%;
}

.post-type-wa_notification #minor-publishing-actions,
.post-type-wa_notification #misc-publishing-actions {
  display: none;
}
.post-type-wa_notification.disable-publishing #publishing-action {
  display: none;
}

.ui-datepicker-current {
  display: none;
}

.wa-notifier-fields-table {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .wa-notifier-fields-table tr th {
    display: block;
    width: 100%;
    padding: 10px 0 5px 0;
  }
}
@media screen and (max-width: 767px) {
  .wa-notifier-fields-table tr td {
    display: block;
    width: 100%;
  }
}
.wa-notifier-fields-table input,
.wa-notifier-fields-table textarea,
.wa-notifier-fields-table select {
  width: 100%;
  max-width: 25em;
}
