/* Global */
#wpcontent {
    padding-left: 0;
}

#screen-meta {
    margin: 0 -20px;
}

#wpbody {
    padding: 70px 20px 0px 20px;
}

/* Meta Fields */
.wa-notifier-fields-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}

.wa-notifier-fields-table th.section-title {
    padding: 0px;
}

.wa-notifier-fields-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.meta-fields .form-field label,
.meta-fields .form-field legend {
    display: block;
    margin-bottom: 5px;
    width: calc(100% - 20px);
}

.meta-fields .form-field label .limit-text {
    float: right;
    color: #999999;
}

.meta-fields .form-field input[type="text"],
.meta-fields .form-field input[type="password"],
.meta-fields .form-field textarea,
.meta-fields .form-field select {
    width: calc(100% - 20px);
    max-width: 100%;
}

.meta-fields .form-field input[disabled="disabled"],
.meta-fields .form-field textarea[disabled="disabled"],
.meta-fields .form-field select[disabled="disabled"] {
    background-color: #f6f7f7;
    cursor: not-allowed;
}

.meta-fields h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.meta-fields h4 {
    margin-bottom: 0px;
}

.meta-fields .optional-text {
    color: #999999;
    font-weight: normal;
}

.meta-fields hr {
    margin: 20px auto;
}

.meta-fields fieldset.form-field {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.meta-fields .wa-notifier-radios {
    margin: 0;
}

.meta-fields .wa-notifier-radios li {
    display: inline-block;
    margin-right: 20px;
}

.meta-fields .wa-notifier-radios li label {
    display: inline-block;
    width: auto;
}

.meta-fields .button-1-wrap {
    max-width: 50%;
}

.meta-fields .hide {
    display: none;
}
