/* Global */
#wpcontent {
	padding-left: 0 !important;
}

#screen-meta {
	margin: 0 -20px;
	@include media-down(mobile) {
		margin: 0 0 0 -12px;
		border-left: 0;
		border-right: 0;
	}
}

#wpbody {
	padding-left: 20px;

	@include media-down(mobile) {
		padding-top: 0px;
		padding-left: 12px;
	}
}

/* Meta Fields */
.wa-notifier-fields-table th {
	vertical-align: top;
	text-align: left;
	padding: 20px 10px 20px 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;

	&.section-title {
		padding: 0;
	}

	td {
		margin-bottom: 9px;
		padding: 15px 10px;
		line-height: 1.3;
		vertical-align: middle;
	}
}

.meta-fields {
	.form-field {
		position: relative;

		label,
		legend {
			display: block;
			margin-bottom: 5px;
			width: calc(100% - 20px);
		}

		label .limit-text {
			float: right;
			color: #999;
		}

		input[type="text"],
		input[type="password"],
		textarea,
		select {
			width: calc(100% - 20px);
			max-width: 100%;

			@include media-down(mobile) {
				width: 100%;
			}
		}

		input[disabled="disabled"],
		textarea[disabled="disabled"],
		select[disabled="disabled"] {
			background-color: #f6f7f7;
			cursor: not-allowed;
		}

		.radio-buttons {
			margin: 0;

			li {
				display: inline-block;
				margin-right: 20px;
			}

			li label {
				display: inline-block;
				width: auto;
			}
		}

		.fields-repeater {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 10px;

			th {
				text-align: left;
				font-size: 13px;
				font-weight: normal;
			    border: 1px solid #a8a6a6;
    			padding: 10px;
    			background-color: #f7f7f7;
			}

			td {
				width: 50%;
				border: 1px solid #a8a6a6;
    			padding: 10px;
    			vertical-align: top;

    			input, select, textarea {
    				width: 100%;
    			}

				&.delete-repeater-field {
					min-width: 20px;
					text-align: center;

					span {
						margin-top: 5px;
						cursor: pointer;
					}
				}
			}
		}
	}

	fieldset.form-field {
		font-size: 13px;
		line-height: 1.5;
		margin: 1em 0;
	}

	h3 {
		margin-bottom: 5px;
		font-size: 14px;
	}

	h4 {
		margin-bottom: 0;
	}

	hr {
		margin: 20px auto;
	}

	.optional-text {
		color: #999;
		font-weight: normal;
	}

	.description {
		font-size: 12px;
		margin-top: 5px;
		display: inline-block;
		color: #555;
	}

	.col {
		@include media-down(mobile) {
			flex: 0 0 100%;
		}
	}
}
