.hide {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-flex {
	display: flex !important;
	flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.col {
	flex: 1 0 0%;
	box-sizing: border-box;
}

.w-25 {
	flex: 0 0 auto;
    width: 25%;
}

.w-30 {
	flex: 0 0 auto;
    width: 30%;
}

.w-33 {
	flex: 0 0 auto;
    width: 33.33333333%;
}

.w-40 {
	flex: 0 0 auto;
    width: 40%;
}

.w-50 {
	flex: 0 0 auto;
    width: 50%;
}

.w-60 {
	flex: 0 0 auto;
    width: 60%;
}

.w-70 {
	flex: 0 0 auto;
    width: 70%;
}

.w-75 {
	flex: 0 0 auto;
    width: 75%;
}

.w-80 {
	flex: 0 0 auto;
    width: 80%;
}

.w-100 {
	flex: 1 0 100%;
}

.rounded {
	border-radius: 8px;
}

.bg-white {
	background-color: #fff;
}

.p-20 {
	padding: 20px;
}

.truncate-string {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
