.hide {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-flex {
	display: flex !important;
	flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-between {
	justify-content: space-between;
}

.align-content-center {
	align-content: center;
}

.align-items-center {
	align-items: center;
}

.col {
	flex: 1 0 0%;
	box-sizing: border-box;
}

.w-25 {
	flex: 0 0 auto;
	width: 25%;
}

.w-30 {
	flex: 0 0 auto;
	width: 30%;
}

.w-33 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.w-40 {
	flex: 0 0 auto;
	width: 40%;
}

.w-50 {
	flex: 0 0 auto;
	width: 50%;
}

.w-60 {
	flex: 0 0 auto;
	width: 60%;
}

.w-70 {
	flex: 0 0 auto;
	width: 70%;
}

.w-75 {
	flex: 0 0 auto;
	width: 75%;
}

.w-80 {
	flex: 0 0 auto;
	width: 80%;
}

.w-100 {
	flex: 1 0 100%;
}

.rounded {
	border-radius: 8px;
}

.bg-white {
	background-color: #fff;
}

.p-20 {
	padding: 20px;
}

.truncate-string {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.ms-auto {
	margin-left: auto;
}

.loader {
	height: 100px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f7f7f7;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='L9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Cpath fill='%23000' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/path%3E%3C/svg%3E");
}
