@import "common/variables";
@import "common/mixins";
@import "common/utilities";
@import "common/globals";

.wrap-click-to-chat-btn {
	position: fixed;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 99999999;

	a {
		text-decoration: none !important;

		&:hover,
		&:focus {
			text-decoration: none !important;
		}
	}
}

#click-to-chat-style-3 {
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #e4e4e4;
		color: #7f7d7d;
		padding: 0 12px;
		border-radius: 25px;
		font-size: 13px;
		line-height: 32px;
	}
}

#click-to-chat-style-custom {
	img {
		height: auto;
		max-width: 180px;
		object-fit: cover;
	}
}
